@font-face {
  font-family: "digital-clock-font";
  src: url("fonts/digital-7 (mono).ttf");
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  font-size: 10vh;
  color: white;
}

.body {
  background-color: royalblue;
}

textarea {
  background-color: black;
  color: red;
  font-family: "digital-clock-font";
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20vh;
  width: 30vh;
  align-content: center;
  text-align: center;
  font-size: larger;
}

#buttonDiv {
  text-align: center;
  height: 10vh;
  margin-bottom: 5vh;
}

button {
  font-family: "digital-clock-font";
  font-weight: bold;
  font-size: large;
  border: 3px solid white;
  color: white;
  background-color: royalblue;
  height: 8vh;
  width: 8vh;
  border-radius: 15px;
}

h3 {
  margin-top: 0%;
  margin-bottom: 0%;
}

#timer {
  margin-top: 13.5vh;
  height: 20vh;
  width: 25vw;
  color: yellow;
}

h4 {
  margin-top: 5vh;
}

#homeFouls {
  color: green;
  height: 15vh;
  width: 10vw;
  margin-top: 2vh;
}

#awayFouls {
  color: green;
  height: 15vh;
  width: 10vw;
  margin-top: 2vh;
}

#foulDiv {
  text-align: center;
  height: 10vh;
}

#plusMinusFoul {
  text-align: center;
}

#homePlusButton {
  height: 6vh;
  width: 6vh;
}

#homeMinusButton {
  height: 6vh;
  width: 6vh;
}

#awayPlusButton {
  height: 6vh;
  width: 6vh;
}

#awayMinusButton {
  height: 6vh;
  width: 6vh;
}
